{% extends 'pages/index.html' %}
{% block content %}
{% load static %}
<title> About The Chapel </title>

<section class="about-us">
    <div class="about">
      <img src="{% static 'images/mikko.png'%}" class="pic2">
      <div class="text">
        <h5>Website creator </h5>
          <p>My name is Mikko P. Tambo I am currently a student in CVSU Bacoor Campus studying BSIT, I am currently a 3rd year student and the one who made the website</p>
      </div>
    </div>
  <br>
    <section class="about-us">
    <div class="about">
      <img src="{% static 'images/yanni.jpg'%}" class="pic2">
      <div class="text">
        <h5>Website co-creator </h5>
          <p>My name is Yanni Sim I am currently a student in CVSU Bacoor Campus studying BSIT, I am currently a 3rd year student and helped create this website</p>
      </div>
    </div>
  <br>
    <div class="about">
      <img src="{% static 'images/nanay.jpg'%}" class="pic2">
      <div class="text">
        <h5>Chapel caretaker </h5>
          <p>I am Cecille Espiritu Purificacion and I manage the schedules of our chapel such as baptisms or masses</p>
      </div>
    </div>
  <br>
  <div class="about">
      <img src="{% static 'images/father.jpg'%}" class="pic2">
      <div class="text">
        <h5>Chapel Priest </h5>
          <p>I am Father Robin, I am one of the priests here at our chapel that will attend to your services and facilitate the chapels masses</p>
      </div>
    </div>
    <br>
    <div class="about">
      <img src="{% static 'images/sacrist.jpg'%}" class="pic2">
      <div class="text">
        <h5>Chapel Sacristans </h5>
          <p>We are the Sacristans serving this church aiding the priest that is currently in the mass!</p>
      </div>
    </div>
    <br>
  <div class="about">
      <img src="{% static 'images/lect.jpg'%}" class="pic2">
      <div class="text">
        <h5>Chapel Lecturn </h5>
          <p>I am Russ Catamisan, I am the lecturn during masses and assists Father Robin</p>
      </div>
    </div>
    <br>
  <div class="about">
      <img src="{% static 'images/choir.jpg'%}" class="pic2">
      <div class="text">
        <h5>Chapel Choir </h5>
          <p>We are the choir members who will sing during masses or services</p>
      </div>
    </div>
<br>
{% endblock %}
</section>