{% load static %}

<footer id="sticky-footer" class="flex-shrink-0 py-4  text-white-50 sticky-bottom" style="background-color: #23395d;">
    <div class="container text-center">
      <small>Copyright &copy; IFI: ANIBAN 2 BACOOR CAVITE CHAPEL: 2024</small>
        <br>
        <a href="https://www.facebook.com/ifitabingilog"> <img src="{% static 'images/fb.png'%}" width="30" height="30"> </a>

        <a href="https://www.youtube.com/channel/UCd4UmIjORAK-6BSjA-fibqA"> <img src="{% static 'images/yt.png'%}" width="30" height="30"> </a>
    </div>
  </footer>
