{% extends 'pages/index.html' %}
{% block content %}
{% load static %}

<title> Home </title>

<section class="about-us">
    <div class="about">
      <img src="{% static 'images/sched.jpg'%}" class="pic">
      <div class="text">
        <h2>Welcome!</h2>
        <h5>What is this website? </h5>
          <p>Allows you to schedule a baptism, funeral, marriage, and blessing to this specific chapel in barangay Aniban 2 Tabing Ilog Bacoor Cavite! you will no longer need to go repeatedly to our chapel because you can simply use this website! It is also a project for one of my major subjects</p>
      </div>
    </div>
  </section>



{% endblock %}

